doctype html
html
  head
    include ./includes/head.jade

  body
    include ./includes/navBar.jade

    #main.card
      h1 Welcome to Node Stepper
      p We're here to help you keep track of your fitness over time.
      p Login to get started tracking your steps!

    include ./includes/scripts.jade
