doctype html
html
  head
    include ./includes/head.jade

  body
    include ./includes/navBar.jade

    #main.card
      h1 Keep it up!
      p So far you have taken #{allSteps.total} steps, at an average of #{allSteps.dailyAverage} per day.
      p The most steps you walked in a day were #{stepRecord.stepRecord}.

      svg#visualisation



    include ./includes/scripts.jade
