h1 Input Your Steps or Weight
  form(method='POST')
    .form-group
      label Number of steps
      input(type='text',name='name', placeholder='Steps')
    .form-group
      label Weight
      input(type='text', name='weight', placeholder='Weight')
    .form-group
      input(type='submit', value='Enter')
